{{$student := .Student}}
{{$students := .Students}}
{{$idxclassrooms := .IdxClassRooms}}
{{$idxsubjects := .IdxSubjects}}
{{$classrooms := .ClassRooms}}
{{$remainseats := .RemainSeats}}
{{$occupancy := .Occupancy}}
{{$work := .Work}}
{{$errors := .Errors}}
{{$group := .Group}}
{{$values := .Values}}
{{$day := (index $values.d 0)}}
<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="/bs/css/bootstrap.min.css">
        <title>{{$student.FirstName}} {{$student.Name}}</title>
    </head>
    <body>
		{{range $i, $error := $errors}}
		<div class="alert alert-danger" role="alert">{{$error}}</div>
		{{end}}
		<h4> >>{{$student.FirstName}} {{$student.Name}} (<a href="/login">Se d&eacute;connecter</a>)</h4>
		<h3>{{$day}}</h3>
		<p><a class="btn btn-danger" href="/">Annuler le choix d'une matière</a></p>
			<ul class="list-group">
			<li class="list-group-item active">Révisions</li>
			{{range $subject := $idxsubjects}}
			<li class="list-group-item">
				<a href="/submit?t=add{{index $values.w 0}}&d={{$day}}&id={{$subject}}">{{$subject}}</a><br>
			</li>
			{{end}}
			</ul>
	<script src="/bs/bootstrap.min.js"></script>
    </body>
</html>
