{{$student := .Student}}
{{$students := .Students}}
{{$idxclassrooms := .IdxClassRooms}}
{{$classrooms := .ClassRooms}}
{{$remainseats := .RemainSeats}}
{{$occupancy := .Occupancy}}
{{$errors := .Errors}}
{{$group := .Group}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{$student.FirstName}} {{$student.Name}}</title>
    </head>
    <body>
		{{range $i, $error := $errors}}
		!{{$error}}<br>
		{{end}}
		<h4> >>{{$student.FirstName}} {{$student.Name}} (<a href="/login">Se d&eacute;connecter</a>)</h4>
			{{range $i, $day := .IdxDays}} 
			<h3>{{$day}}</h3>
				{{range $j, $idcr := $idxclassrooms}}
					{{$occ := index $occupancy $i}}
					{{$rem := index $remainseats $i $j}}
					{{$cr := index $classrooms $idcr}}
					{{if eq $student.Gender $cr.Gender}}
					{{if eq $occ $idcr}}<b>=></b> {{end}}<a href="/submit?t=room&id={{$idcr}}&d={{$day}}">{{$cr.Name}} ({{$rem}})</a>&emsp;
					{{else if eq $cr.Gender ""}}
					{{if eq $occ $idcr}}<b>=></b>{{end}}<a href="/submit?t=room&id={{$idcr}}&d={{$day}}">{{$cr.Name}} ({{$rem}})</a>&emsp;
					{{end}}
				{{end}}
				<br>
				{{if ne (len $group) 0}}
					Membres du groupe: <br>
					{{range $g := (index $group $day)}}
						{{$g1 := index $g 0}}
						{{$g2 := index $g 1}}
						{{range $s := $students}}
							{{if eq (index $s 0) $g1}}
								<li>{{index $s 1}} {{index $s 2}} {{index $s 3}} - {{$g2}}
							{{end}}
						{{end}}
						<a href="/submit?t=remgroup&id={{$g1}}&d={{$day}}">Supprimer</a></li>
					{{end}}
				{{end}}
				<p><a href="/submit?t=pickgroup&d={{$day}}">Ajouter un membre au groupe</a></p>
			{{end}}
    </body>
</html>
